*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080808;
}

.App {
  width: 100%;
  height: auto;
}

/* ENGLISH FONTS */

/* Thin 100 */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

/* Thin 100 Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight 200 */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

/* ExtraLight 200 Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

/* Light 300 */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

/* Light 300 Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

/* Regular 400 */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* Regular 400 Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

/* Medium 500 */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

/* Medium 500 Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

/* SemiBold 600 */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

/* SemiBold 600 Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

/* Bold 700 */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

/* Bold 700 Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold 800 */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

/* ExtraBold 800 Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

/* Black 900 */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

/* Black 900 Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/english/poppins/Poppins-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

/* == ENGLISH FONTS == */

/* ARABIC FONTS */

/* ExtraLight 200 */
@font-face {
  font-family: 'Tajawal';
  src: url('../public/fonts/arabic/tajawal/Tajawal-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

/* Light 300 */
@font-face {
  font-family: 'Tajawal';
  src: url('../public/fonts/arabic/tajawal/Tajawal-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

/* Regular 400 */
@font-face {
  font-family: 'Tajawal';
  src: url('../public/fonts/arabic/tajawal/Tajawal-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* Medium 500 */
@font-face {
  font-family: 'Tajawal';
  src: url('../public/fonts/arabic/tajawal/Tajawal-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

/* Bold 700 */
@font-face {
  font-family: 'Tajawal';
  src: url('../public/fonts/arabic/tajawal/Tajawal-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold 800 */
@font-face {
  font-family: 'Tajawal';
  src: url('../public/fonts/arabic/tajawal/Tajawal-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}

/* Black 900 */
@font-face {
  font-family: 'Tajawal';
  src: url('../public/fonts/arabic/tajawal/Tajawal-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

/*  == ARABIC FONTS == */